NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME="Toolera store"
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_STORE_SLUG=toolera
BACKEND_INTERNAL_URL=http://localhost:5000
INTERNAL_SERVICE_KEY=your-secret-internal-key-here
